.good-popup {
    -fx-background-color: palegreen;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-font-size: 16;
}

.warn-popup {
    -fx-background-color: lemonchiffon;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-font-size: 16;
}


.error-popup {
    -fx-background-color: lightpink;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-font-size: 16;
}

.digital-meter {
    -fx-font-size: 48;
    -fx-alignment: center;
}

.axis {
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: black;
    -fx-font-family: Tahoma;
    -fx-tick-length: 10;
    -fx-minor-tick-length: 5;
}

.axis-label {
   -fx-text-fill: black;
}
